token_url: "{{ token_url }}"
token_headers:
  accept: "application/json"
  x-api-key: "{{ api_key }}:"

api_url: "{{ api_url }}"

payload:
  door_id: "{{ DOOR_ID }}"
  user_id: "{{ USER_ID }}"

led_enabled: {{ led_enabled | default('false') }}
led_pin: {{ led_pin | default('23') }}
button_pin: {{ button_pin | default('17') }}